@page "{id}"
@model ProductCategoryModel
@{
    ViewData["Title"] = Model.ProductCategory.Name;
    ViewData["keywords"] = Model.ProductCategory.Keyword;
    ViewData["metaDescription"] = Model.ProductCategory.MetaDescription;
}

<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h1 class="breadcrumb-content__title">@Model.ProductCategory.Name</h1>
                        <ul class="breadcrumb-content__page-map">
                            <li><a asp-page="./Index">صفحه اصلی</a></li>
                            <li class="active">@Model.ProductCategory.Name</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row">
                            <div class="col-lg-9 order-1 order-lg-1">
                                <div class="shop-header">
                                    <div class="shop-header__right">
                                        <div class="shop-header__right__message">
                                            نمایش صفحه 1
                                        </div>
                                    </div>

                                    <div class="shop-header__left">
                                        <div class="single-select-block d-inline-block">
                                            <span class="select-title">مرتب سازی بر اساس:</span>
                                            <select class="pr-0">
                                                <option value="1">پیش فرض</option>
                                                <option value="2">نام (A-Z)</option>
                                                <option value="3">قیمت (min - max)</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="shop-page-content">
                                        <div class="row shop-product-wrap grid three-column">
                                            @foreach (var product in Model.ProductCategory.Products)
                                            {
                                                <div class="col-12 col-lg-4 col-md-4 col-sm-6">
                                                    <div class="single-grid-product grid-view-product">
                                                        <div class="single-grid-product__image">
                                                            @if (product.HasDiscount)
                                                            {
                                                                <div class="single-grid-product__label">
                                                                    <span class="sale">-@product.DiscountRate%</span>
                                                                </div>
                                                            }
                                                            <a asp-page="/Product" asp-route-id="@product.Slug">
                                                                <img src="~/ProductPictures/@product.Picture" class="img-fluid"
                                                                     alt="@product.PictureAlt" title="@product.PictureTitle">
                                                            </a>
                                                        </div>
                                                        <div class="single-grid-product__content">
                                                            <div class="single-grid-product__category-rating">
                                                                <span class="category">
                                                                    <a asp-page="/ProductCategory" asp-route-id="@Model.ProductCategory.Slug">@Model.ProductCategory.Name</a>
                                                                </span>
                                                                <span class="rating">
                                                                    <i class="ion-android-star active"></i>
                                                                    <i class="ion-android-star active"></i>
                                                                    <i class="ion-android-star active"></i>
                                                                    <i class="ion-android-star active"></i>
                                                                    <i class="ion-android-star-outline"></i>
                                                                </span>
                                                            </div>

                                                            <h2 class="single-grid-product__title">
                                                                <a asp-page="/Product" asp-route-id="@product.Slug">@product.Name</a>
                                                            </h2>
                                                            <p class="single-grid-product__price">
                                                                @if (product.HasDiscount)
                                                                {
                                                                <span class="discounted-price">@product.PriceWithDiscount ریال</span>
                                                                <span class="main-price discounted">@product.Price ریال</span>
                                                                }
                                                                else
                                                                {
                                                                  <span class="main-price">@product.Price ریال</span>
                                                                }
                                                            </p>
                                                            @if (product.HasDiscount)
                                                            {
                                                                <div class="product-countdown" data-countdown="@product.DiscountExpireDate"></div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                <div class="pagination-area">
                                    <div class="pagination-area__left">
                                        نمایش صفحه 1
                                    </div>
                                    <div class="pagination-area__right">
                                        <ul class="pagination-section">
                                            <li>
                                                <a class="active" href="#">1</a>
                                            </li>
                                            <li>
                                                <a href="#">2</a>
                                            </li>
                                            <li>
                                                <a href="#">></a>
                                            </li>
                                            <li>
                                                <a href="#">>|</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                                <div class="col-lg-3 order-2 order-lg-2">
                                    <div class="page-sidebar-wrapper">
                                        <div class="single-sidebar-widget">

                                            <h4 class="single-sidebar-widget__title">گروه محصولات</h4>
                                            <ul class="single-sidebar-widget__category-list">
                                                @foreach (var category in Model.ProductCategories)
                                                {
                                                    <li>
                                                        <a asp-page="./ProductCategory" asp-route-id="@category.Slug" class="active">
                                                            @category.Name <span class="counter">@category.ProductsCount</span>
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>

                                        <div class="single-sidebar-widget">

                                            <h4 class="single-sidebar-widget__title">آخرین محصولات</h4>
                                            <div class="block-container">
                                                @foreach (var product in Model.LatestProducts)
                                                {
                                                    @if ((product.Id>3) & (product.Id < 8))
                                                    {
                                                        <div class="single-block d-flex">
                                                            <div class="image">
                                                                <a asp-page="./Product" asp-route-id="@product.Slug">
                                                                    <img src="~/ProductPictures/@product.Picture"
                                                                         class="img-fluid" alt="@product.PictureAlt"
                                                                         title="@product.PictureTitle">
                                                                </a>
                                                            </div>
                                                            <div class="content">
                                                                <p>
                                                                    <a asp-page="./Product" asp-route-id="@product.Slug">
                                                                        @product.Name
                                                                    </a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <div class="single-sidebar-widget">
                                            <h4 class="single-sidebar-widget__title">برچسپ ها</h4>
                                            <ul class="single-sidebar-widget__tag-list">
                                                @foreach (var tag in Model.ProductCategory.KeywordList)
                                                {
                                                    <li>
                                                        <a asp-page="/Search" asp-route-value="@tag">@tag</a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
